<!DOCTYPE html>
<html>
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Site Properities -->
    <meta name="generator" content="DocPad v6.78.4" />
    <% if tag.length == 0 %>
      <title> Athitya Kumar | Blog - Page <%= i+1 %></title>
    <% else %>
      <title> Athitya Kumar | Posts tagged <%= tag["name"] %> - Page <%= i+1 %></title>
    <% end %>
    <meta name="description" content="This is the personal website of Athitya Kumar, hosted on GitHub." />
    <meta name="keywords" content="athitya,kumar,iit,iitkgp,developer,coder,programmer,mechanical,engineering,chess,carnatic,vocalist,tv,series,blog" />
    <meta property="og:title" content="Athitya Kumar's Blog" />
    <meta property="og:type" content="article" />
    <% if tag.length == 0 %>
      <link rel="stylesheet" type="text/css" class="ui" href="../../assets/all.css">
      <link rel="shortcut icon" href="../../assets/images/logo.png" />
      <meta property="og:url" content="https://athityakumar.github.io/blog/page_<%= i+1 %>/" />
      <meta property="og:image" content="https://athityakumar.github.io/assets/images/logo.png" />
      <meta property="og:description" content="This is page <%= i+1 %> of Athitya Kumar's blog." />
    <% else %>
      <link rel="stylesheet" type="text/css" class="ui" href="../../../../assets/all.css">
      <link rel="shortcut icon" href="../../../../assets/images/logo.png" />
      <meta property="og:url" content="https://athityakumar.github.io/blog/tags/<%= tag["filename"] %>/page_<%= i+1 %>/" />
      <meta property="og:image" content="https://athityakumar.github.io/assets/images/logo.png" />
      <meta property="og:description" content="This is page <%= i+1 %> of posts with tag '<%= tag["name"] %>' , in Athitya Kumar's blog." />
    <% end %>
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5001010616979218"
    crossorigin="anonymous"></script>
  </head>
  <body id="example" class="index" ontouchstart="">
  <!-- laptop display -->
    <div class="following bar">
      <div class="ui container">
        <div class="ui large inverted secondary network menu">
          <div class="item">
            <div class="ui logo shape">
              <div class="sides">
                <div class="active ui side">
                  <% if tag.length == 0 %>
                    <a href="../../"> @athityakumar </a>
                  <% else %>
                    <a href="../../../../"> @athityakumar </a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="right menu">
            <div class="item" style="color: white;">
              &nbsp;  
              
              <div class="ui breadcrumb">
                <div class="post_search">
                  <div class="ui fluid search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search posts.">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile display -->
  <div class="ui fixed inverted main menu">
    <div class="ui container">
      <div class="item" style="color: white;">
        &nbsp;  
        
        <div class="ui breadcrumb">
          <% if tag.length == 0 %>
            <a href="../../" class="section" style="color: white;">@athityakumar</a>
          <% else %>
            <a href="../../../../" class="section" style="color: white;">@athityakumar</a>
          <% end %>          
        </div>
      </div>
      <div class="right item" style="color: white;">
        &nbsp;  
        
        <div class="ui breadcrumb">
          <div class="post_search">
            <div class="ui right aligned search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search posts.">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pusher">
  <div class="full height">
    <div class="zoomed masthead segment">
      <div class="ui container">
        <div class="introduction">
          <% if tag.length == 0 %>
            <h1 class="ui inverted header">
              <span class="tagline">
                Blog
              </span>
            </h1>
            <h4 class="tagline">    
              You're here : 
              <a href="../../">Homepage</a> > 
              <a href="../page_1/">Blog</a> > 
              <a>Page <%= i+1 %> </a>    
              <br>              
               Total : <%= n_posts %> post(s), <%= n_pages %> page(s), <%= $tags.count %> tag(s). <br> Showing posts <%= showing_posts[0] %> - <%= showing_posts[1] %> in this page.
            </h4>
          <% else %>
            <h1 class="ui inverted header">
              <span class="tagline">
                Posts tagged '<%= tag["name"] %>'
              </span>
            </h1>
            <h4 class="tagline">    
              You're here : 
              <a href="../../../../">Homepage</a> > 
              <a href="../../../page_1/">Blog</a> > 
              <a href="../page_1/">This Tag</a> >
              <a href>Page <%= i+1 %> </a>    
              <br>              
              <% if n_posts != 0 %>
                Total : <%= n_posts %> post(s), <%= n_pages %> page(s) for this tag. <br> Showing posts <%= showing_posts[0] %> - <%= showing_posts[1] %> now.
              <% else %>
                No posts to show here.
              <% end %>
            </h4>
          <% end %>  
          <div class="ui hidden divider"></div>
          <div class="ui hidden divider"></div>
          <a href="#go" class="ui labeled primary icon button">
            <i class="angle double down large icon"></i> &nbsp; View these post(s)
      </a>
        </div>
      </div>
    </div>
    <div id="go" class="ui vertical stripe intro segment">
      <div class="ui hidden divider"></div>
      <div class="stackable very relaxed ui grid container fakeload">
        <div class="row">
          <div class="twelve wide column">
              <% if tag.length == 0 %>
            <h4 class="ui horizontal divider"> POSTS <%= showing_posts[0] %> - <%= showing_posts[1] %> </h4>
            <div class="ui piled segment">

                <% posts_in_page.each do |post| %>
                  <% if post["image_preview"].length != 0 %>              
                    <img class="ui tiny left floated top aligned image" data-src="../../assets/images/blog/<%= post["filename"] %>/<%= post["image_preview"] %>" src="../../assets/images/load.png">
                  <% end %>
                  <b><span> 
                  <a href="../posts/<%= post["filename"] %>/">#<%= post["index"] %> - <%= post["title"] %></a></span></b><br>                  
                  <p> 
                    <% post["tag_data"].each do |tag| %>
                      <a href="../tags/<%= tag["filename"] %>/page_1/" class="ui <%= tag["color"] %> tag label"><%= tag["name"] %></a>
                    <% end %>
                  </p>
                  
                  <br>
                  <span><%= post["short_desc"] %></span>
                  <br><br>
                  <a class="ui labeled primary icon button" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fathityakumar.github.io%2Fblog%2Fposts%2F<%= post["filename"] %>%2Findex.html&amp;src=sdkpreparse" target="_blank">
                    <i class="facebook large icon"></i> &nbsp; Share
                  </a>
                  <a class="ui labeled primary icon button" href="https://twitter.com/intent/tweet?text=Do+give+this+a+read.&url=https%3A%2F%2Fathityakumar.github.io%2Fblog%2Fposts%2F<%= post["filename"] %>%2Findex.html" target="_blank">
                    <i class="twitter large icon"></i> &nbsp; Tweet
                  </a>
                  <a class="ui labeled gray icon button">
                    <i class="clock large icon"></i> &nbsp; <%= $posts[i]["x_minutes_read"] %>-minutes read
                  </a>
                  <div class="ui divider"></div>

                <% end %>
            </div>

              <% else %>
                  <% if n_posts == 0 %>
                    <h1 style="text-align: center;"> Uh, oh. No posts found here, yet.</h1>
                    <img data-src="../../../../assets/images/error.png" src="../../../../assets/images/load.png" class="ui large centered image">
                  <% else %>
            <h4 class="ui horizontal divider"> POSTS <%= showing_posts[0] %> - <%= showing_posts[1] %> </h4>
            <div class="ui piled segment">

                    <% posts_in_page.each do |post| %>
                      <% if post["image_preview"].length != 0 %>              
                        <img class="ui tiny left floated top aligned image" data-src="../../../../assets/images/blog/<%= post["filename"] %>/<%= post["image_preview"] %>" src="../../../../assets/images/load.png">
                      <% end %>
                      <b><span> 
                      <a href="../../../posts/<%= post["filename"] %>/">#<%= post["index"] %> - <%= post["title"] %></a></span></b><br>                  
                      <p> 
                        <% post["tag_data"].each do |tag| %>
                          <a href="../../<%= tag["filename"] %>/page_1/" class="ui <%= tag["color"] %> tag label"><%= tag["name"] %></a>
                        <% end %>
                      </p>
                      <br>
                      <span><%= post["short_desc"] %></span>
                      <br><br>
                      <a class="ui labeled primary icon button" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fathityakumar.github.io%2Fblog%2Fposts%2F<%= post["filename"] %>%2Findex.html&amp;src=sdkpreparse" target="_blank">
                        <i class="facebook large icon"></i> &nbsp; Share
                      </a>
                      <a class="ui labeled primary icon button" href="https://twitter.com/intent/tweet?text=Do+give+this+a+read.&url=https%3A%2F%2Fathityakumar.github.io%2Fblog%2Fposts%2F<%= post["filename"] %>%2Findex.html" target="_blank">
                        <i class="twitter large icon"></i> &nbsp; Tweet
                      </a>
                      <a class="ui labeled gray icon button">
                        <i class="clock large icon"></i> &nbsp; <%= post["x_minutes_read"] %>-minutes read
                      </a>
                      <div class="ui divider"></div>
 
                    <% end %>
            </div>

                  <% end %>
              <% end %>
          </div>
          <div class="four wide column">
            <div class="ui fluid centered card">
              <div class="content">
                <a class="header ui blue top left attached label">Tags</a>
                <p class="description">
                  <div class="ui hidden divider"></div>
                  <div class="tag_search">
                    <div class="ui fluid search center aligned">
                      <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search tags.">
                        <i class="search icon"></i>
                      </div>
                      <div class="results"></div>
                    </div>
                  </div>
                  <div class="ui hidden divider"></div>
                    <% if tag.length == 0 %>
                      <% $tags.each do |tag| %>
                        <a href="../tags/<%= tag["filename"] %>/page_1/" class="ui <%= tag["color"] %> tag label"><%= tag["name"] %></a>                      
                      <% end %>
                    <% else %>
                      <% $tags.each do |tag| %>
                        <a href="../../<%= tag["filename"] %>/page_1/" class="ui <%= tag["color"] %> tag label"><%= tag["name"] %></a>                      
                      <% end %>
                    <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui stackable very relaxed grid container">
        <div class="row">
          <div class="sixteen wide column center aligned">
            <% if older_page_exists %>
              <a href="../page_<%= older_page %>/" class="ui labeled primary icon left floated button">
                <i class="angle double left large icon"></i> &nbsp; Older posts
              </a>
            <% else %>
              <a class="ui labeled icon left floated button">
                <i class="angle double left large icon"></i> &nbsp; Older posts
              </a>
            <% end %>
            <% if recent_page_exists %>
              <a href="../page_<%= recent_page %>/" class="ui right labeled primary icon right floated button">
                Recent posts &nbsp; <i class="angle double right large icon"></i>
              </a>
            <% else %>
              <a class="ui right labeled icon right floated button">
                Recent posts &nbsp; <i class="angle double right large icon"></i>
              </a>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui black inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted grid">
        <div class="sixteen wide right floated column">
          <h4 class="ui inverted teal header">
            Built with &nbsp; <i class="heart icon red small"></i> by @athityakumar.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#" class="scrollToTop"><span class="ui primary icon button"><b><i class="angle double up large icon"></i></b></span></a>
<script>
  window.less = {
          async        : true,
          environment  : 'production',
          fileAsync    : false,
          onReady      : false,
          useFileCache : true
  };

<% if tag.length == 0 %>
var post_content = [
  <% for i in (0..$posts.count-1) %>
    <% if i != $posts.count-1 %>  
      { url: "../posts/<%= $posts[i]["filename"] %>/",  post_title: "<%= $posts[i]["title"] %>" },
    <% else %>
      { url: "../posts/<%= $posts[i]["filename"] %>/",  post_title: "<%= $posts[i]["title"] %>" }
    <% end %>
  <% end %>
];

var tag_content = [
  <% for i in (0..$tags.count-1) %>
    <% if i != $tags.count-1 %>  
      { url: "../../blog/tags/<%= $tags[i]["filename"] %>/page_1/",  tag_title: "<%= $tags[i]["name"] %>", color: "<%= $tags[i]["color"] %>" },
    <% else %>
      { url: "../../blog/tags/<%= $tags[i]["filename"] %>/page_1/",  tag_title: "<%= $tags[i]["name"] %>", color: "<%= $tags[i]["color"] %>" }
    <% end %>
  <% end %>
];
<% else %>
var post_content = [
  <% for i in (0..$posts.count-1) %>
    <% if i != $posts.count-1 %>  
      { url: "../../../../blog/posts/<%= $posts[i]["filename"] %>/",  post_title: "<%= $posts[i]["title"] %>" },
    <% else %>
      { url: "../../../../blog/posts/<%= $posts[i]["filename"] %>/",  post_title: "<%= $posts[i]["title"] %>" }
    <% end %>
  <% end %>
];

var tag_content = [
  <% for i in (0..$tags.count-1) %>
    <% if i != $tags.count-1 %>  
      { url: "../../<%= $tags[i]["filename"] %>/page_1/",  tag_title: "<%= $tags[i]["name"] %>", color: "<%= $tags[i]["color"] %>" },
    <% else %>
      { url: "../../<%= $tags[i]["filename"] %>/page_1/",  tag_title: "<%= $tags[i]["name"] %>", color: "<%= $tags[i]["color"] %>" }
    <% end %>
  <% end %>
];
<% end %>

</script>

<% if tag.length == 0 %>
  <script src="../../assets/all.js"></script>
<% else %>
  <script src="../../../../assets/all.js"></script>
<% end %>
</body>
</html>